*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(79, 79, 250) !important;
}
.main-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 15px !important; 
}
.search-box-container{
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}
.search-box{
  width: 100%;
  padding: 1rem;
  border-radius: 9px;
  border: none;
}
.search-button{
  position: absolute;
  right: 0;
  margin: 0.5rem;
  cursor: pointer;
  background-color: #fff !important;
  color: grey !important;
  border: solid 3px grey;
}
.search-button:hover{
  border: solid 2px rgb(79, 79, 250) !important;
  color:rgb(79, 79, 250) !important;
}
.loading-text{
  display: flex;
  text-align: center;
  align-items: center;
}
.load-button-container{
  width: 50%;
  margin: 0;
}
.load-more-button{
  width: 100%;
  padding: 1rem;
  margin: 3rem 0;
  color: #fff !important;
}