*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(79, 79, 250) !important;
}
.loading-container{
  width: 50%;
  margin: auto;
  color: #fff !important;
}
.main-anime-card-container{
    margin: 4.5rem;
}
.main-container{
  width: 100%;
  position: relative;
  margin-top: 13.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 21px !important; 
}
.search-box-container{
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}
.card-image{
  height: 300px !important;
}
.search-box{
  width: 100%;
  padding: 1rem;
  border-radius: 9px;
  border: solid 1px rgb(79, 79, 250) !important;
  background-color: rgb(116, 116, 255) !important;
  color: #fff !important;
  position: sticky;
}
.header{
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  margin-bottom: 3rem;
  background-color: rgb(79, 79, 250) !important;
}
.content-body{
  position: absolute;
  margin-top: 12rem;
}
.load-more-footer{
  position: absolute;
  margin: 3rem auto;
}
::placeholder{
  color: #fff !important;
}
.search-button{
  position: absolute;
  right: 0;
  margin: 0.5rem;
  cursor: pointer;
  /* background-color: #fff !important; */
  color: #fff !important;
  border: none
}
.search-button:hover{
  border: solid 2px rgb(79, 79, 250) !important;
  color:  #fffc !important;
}
.loading-text{
  display: flex;
  text-align: center;
  align-items: center;
}
.load-button-container{
  width: 50%;
  margin: 0;
}
.load-more-button{
  width: 100%;
  padding: 1rem;
  margin: 3rem 0;
  color: #fff !important;
}