*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(79, 79, 250) !important;
}
.main-container{
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr) !important; */
  display: flex;
  flex-wrap: wrap;
  gap: 21px !important; 
}
.search-box-container{
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}
.search-box{
  width: 100%;
  padding: 1rem;
  border-radius: 9px;
  border: solid 1px rgb(79, 79, 250) !important;
  background-color: rgb(116, 116, 255) !important;
  color: #fff !important;
}
::placeholder{
  color: #fff !important;
}
.search-button{
  position: absolute;
  right: 0;
  margin: 0.5rem;
  cursor: pointer;
  /* background-color: #fff !important; */
  color: #fff !important;
  border: none
}
.search-button:hover{
  border: solid 2px rgb(79, 79, 250) !important;
  color:  #fffc !important;
}
.loading-text{
  display: flex;
  text-align: center;
  align-items: center;
}
.load-button-container{
  width: 50%;
  margin: 0;
}
.load-more-button{
  width: 100%;
  padding: 1rem;
  margin: 3rem 0;
  color: #fff !important;
}